@using EcoMarino.Entidades;
@model IEnumerable<EcoMarino.LogicaAplicacion.DTOs.ConfiguracionDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (Model != null)
{
    @if (Context.Session.GetInt32("LogueadoId") != null)
    {
        <h2>Editar topes.</h2>
        <div>
            <strong>Ecosistemas: </strong>
            <article>
                @Html.ActionLink("Ecosistema - Nombre", "Edit", "Configuracion", new { nombreAtributo = "EcosistemaNombre" }) <span>|</span>
                @Html.ActionLink("Ecosistema - Descripcion", "Edit", "Configuracion", new { nombreAtributo = "EcosistemaDescripcion" }) <span>|</span>
            </article>
        </div>

        <div>
            <strong>Especies: </strong>
            <article>
                @Html.ActionLink("Especie - Nombre", "Edit", "Configuracion", new { nombreAtributo = "EspecieNombre" }) <span>|</span>
                @Html.ActionLink("Especie - Nombre científico", "Edit", "Configuracion", new { nombreAtributo = "EspecieNombreCientifico" }) <span>|</span>
                @Html.ActionLink("Especie - Descripcion", "Edit", "Configuracion", new { nombreAtributo = "EspecieDescripcion" }) <span>|</span>
            </article>
        </div>

        <div>
            <strong>Amenazas</strong>
            <article>
                @Html.ActionLink("Amenaza - Descripcion", "Edit", "Configuracion", new { nombreAtributo = "AmenazaDescripcion" }) <span>|</span>
            </article>
        </div>
    }


    <table class="table">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.nombreAtributo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.topeInferior)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.topeSuperior)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.nombreAtributo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.topeInferior)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.topeSuperior)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3>No se encontraron los valores en la base de datos.</h3>
}
