@model IEnumerable<EcoMarino.LogicaAplicacion.DTOs.EspecieDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (TempData["tempMsg"] != null)
{
    <div class="alert alert-success">
        @TempData["tempMsg"]
    </div>
}

<h2>Filtros</h2>
<form method="post">
    <label>Nombre científico: </label>
    <input type="text" name="NombreCientifico" placeholder="Ingrese un nombre" /> <br />

    <label>Peso mínimo: </label>
    <input type="number" name="PesoMinimo" placeholder="Ingrese un mínimo" /> <br />

    <label>Peso máximo: </label>
    <input type="number" name="PesoMaximo" placeholder="Ingrese un máximo" /> <br />

    <input type="checkbox" value="true" name="UnirFiltros" />
    <label>¿Desea unir los filtros para una búsqueda más específica?</label>

    <input type="submit" value="Buscar" class="btn btn-primary" />
</form>
<hr />

@Html.ActionLink("Mostrar especies de un ecosistema", "ListarEspeciesDeUnEco", "Especie") <span>|</span>

@if (Context.Session.GetInt32("LogueadoId") != null)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>

    @Html.ActionLink("Editar tope nombre", "Edit", "Configuracion", new { nombreAtributo = "EspecieNombre" }) <span>|</span>
    @Html.ActionLink("Editar tope descripción", "Edit", "Configuracion", new { nombreAtributo = "EspecieDescripcion" })
}

@if (Model != null)
{
    @if (Model.Count() > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.nombreCientifico)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.descripcion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.estado)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.nivelConservacion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.peso)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.longitud)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.nombreCientifico)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.estado.nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.nivelConservacion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.peso)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.longitud)
                        </td>
                        <td>
                            @Html.ActionLink("Details", "Details", new { id=item.id }) |
                            @Html.ActionLink("Ver amenazas", "MostrarAmenazas", new { idEspecie=item.id }) |
                            @Html.ActionLink("Ver ecosistemas", "MostrarEcosistemas", new { idEspecie=item.id }) |
                            @Html.ActionLink("Ver ecosistemas habitables", "MostrarEcosistemasHabitables", new { idEspecie=item.id }) |
                            @Html.ActionLink("Ver ecosistemas inadecuados", "MostrarEcosistemasInadecuados", new { idEspecie=item.id }) |

                            @if (Context.Session.GetInt32("LogueadoId") != null)
                            {
                                @Html.ActionLink("Edit", "Edit", new {  id=item.id }) <span>|</span>
                                @Html.ActionLink("Asociar amenaza", "AsociarAmenazas", new { idEspecie=item.id }) <span>|</span>
                                @Html.ActionLink("Agregar ecosistema habitable", "AgregarEcosistemaHabitable", new { idEspecie=item.id })
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h2>No se encontraron especies</h2>
    }
}
