@using EcoMarino.Entidades;
@model IEnumerable<EcoMarino.LogicaAplicacion.DTOs.EspecieDTO>

@{
    ViewData["Title"] = "ListarEspeciesDeUnEco";
}

<h1>ListarEspeciesDeUnEco</h1>

@if (Context.Session.GetInt32("LogueadoId") != null)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}


<h2>Filtrar por ecosistema</h2>
<form method="post">
    <select class="form-control" name="ecosistemaId">
        @if (ViewBag.ecosistemas != null)
        {
            @foreach (Ecosistema e in ViewBag.ecosistemas)
            {
                <option value="@e.Id">@e.Nombre</option>
            }
        }
    </select> <br />

    <div class="form-group">
        <input type="submit" value="Buscar" class="btn btn-primary" />
    </div>
</form>


@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.nombreCientifico)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.idEstado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.nivelConservacion)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombreCientifico)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.idEstado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nivelConservacion)
                    </td>
                    <td>
                        @if (Context.Session.GetInt32("LogueadoId") != null)
                        {
                            @Html.ActionLink("Edit", "Edit", new {  id=item.id })
                        }
                        @Html.ActionLink("Details", "Details", new {  id=item.id }) |
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

