@model IEnumerable<EcoMarino.LogicaAplicacion.DTOs.CambiosDTO>

@{
    ViewData["Title"] = "MostrarCambios";
}

<h1>MostrarCambios</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombreResponsable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaHora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idEntidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipoEntidad)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombreResponsable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaHora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idEntidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipoEntidad)
            </td>
        </tr>
}
    </tbody>
</table>
